/*bootstrap import*/
@import url ('bootstrap.min.css');
/*@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css');*/

html { 
	height: 100%; 
}
body {
	height: 100%; 
	margin: 0; padding: 0 
}

#map-canvas { 
	height: 100%;
	/*z-index: -5;*/
}
.heading{
	position: absolute;
	top: 20px;
	width: 100%;
	text-align: center;
	z-index: 20;
	background: white;
	border-bottom: 1px solid #585858;
}
.btn-primary{
	background-color: red;
}
#fake-pointer{
	height: 5px;
	width: 5px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 10;
	background: red;
	pointer-events: none;
}