.profile-list {
	height: 100%;
	background-image: url('../img/bg-pink-dots-small.png');
	background-repeat: true;
	margin-top: 20px;
	padding: 10px;
}

.profile-entry {
	border-top: 2px black solid;
	padding: 8px;
}
.profile-entry > img {
	width: 25%;
	max-width: 150px;
}
.profile-entry > div {
	display: inline-block;
	margin-left: 20px;
}

