.service-description {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.service-selector {
	display: table-cell;
	vertical-align: top;
}

.service-selector-section {
	padding: 2px;
	display: table-cell;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
}

.quantity-counter {
	padding-left: 10px;
	font-size: 24px;
	font-weight: bold;
	color: #fb957e;
}

.option-label {
	white-space: nowrap;
}

