.service-description {
	display: table-cell;
	width: 100%;
	vertical-align: top;
}

.service-selector {
	display: table-cell;
	vertical-align: top;
}

.quantity-counter {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #fb957e;
}

.quantity-button {
	width: 40px;
	height: 40px;
	text-align: center;
}

.option-label {
	white-space: nowrap;
}

